## Ciclo 02 - Aprendizado Supervisionado - Classificação

### 1.0 Import libraries

In [11]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

### 1.1 - Load Dataset

In [12]:
dataset_path = '../dataset/train.csv'

df_root = pd.read_csv(dataset_path)

df = df_root.copy()

In [13]:
df_root.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [14]:
df.loc[:, 'limite_adicional'].unique()

array(['Negar', 'Conceder'], dtype=object)

### 2.0 Seleção de Features

In [15]:
df.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [49]:
# Seleção de Features
# x = features e y = label

label = 'limite_adicional'
features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']


x_train = df.loc[:, features] # Informações que eu irei me basear...
y_train = df.loc[:, label].values.ravel() # Para tentar chegar nessa informação.

### 3.0 Treinamento

In [50]:
# Definição de parâmetros do treinamento.
k = 7
knn_classifier = KNeighborsClassifier( n_neighbors = k )

# Treinamento do algoritmo
knn_classifier.fit(x_train, y_train)

# Previsão das observações
y_pred = knn_classifier.predict(x_train)

In [55]:
df_result = df.loc[:, ['id_cliente', 'idade', 'limite_adicional']].head()
df_result['classificacao'] = y_pred

SyntaxError: '[' was never closed (2791548518.py, line 1)

In [52]:
df_result.loc[:, ['id_cliente', 'idade', 'limite_adicional', 'classificacao']].head()

   id_cliente  idade limite_adicional classificacao
0        1767     21            Negar         Negar
1       11920     40            Negar         Negar
2        8910     36            Negar         Negar
3        4964     58            Negar         Negar
4       10100     35            Negar         Negar

In [53]:
# Pegar resultados e tentar achar algum errado com sample
df_result.loc[:, ['id_cliente', 'idade', 'limite_adicional', 'classificacao']].sample(10)

      id_cliente  idade limite_adicional classificacao
8615        7645     31            Negar         Negar
1383       10811     30            Negar         Negar
5420        5093     41            Negar         Negar
3090        3618     29         Conceder      Conceder
1945        1042     22            Negar         Negar
6206        6747     35         Conceder      Conceder
3744        8403     38         Conceder         Negar
9087        1229     38            Negar         Negar
3989        4366     50            Negar         Negar
4432        5668     26            Negar         Negar